html {
    border: 2px solid black;
}
body {
    background: url("./wallpaper.jpg") repeat fixed center top #F0F0F0;
}
.well {
    border: 2px solid #FFFF00; /* china yellow */
    font-size: 16px;
    clear: both;
}

header {
    border: 2px solid #FFFF00; /* china yellow */
    background-color: #FF4500; /* china red */
    text-align: center; 
    padding: 5px;
    margin: 5px;
}
header img {
    width: 100%;
}

.tileContainer {
    width: 100%;
    background-color: #FF4500; /* china red */
    margin: 0;
    padding: 2px;
}
.tile {
    background-color: #FFFF00; /* china yellow */
    overflow: hidden;
    border-color: #FFFF00; /* china yellow */
    border-bottom-color: black;
    border-style: solid;
    border-width: 2px;
    border-bottom-width: 3px;
    margin: .15em;
}
.tile img {
    margin: 0;
    width: 100%;
}
/* ********** Masonry LayoutMode: MAGNITUDE4 ************** */
/* 1 column */
@media screen and (max-width: 299px) {
  .tile {
    width: 99%;
  }
}
/* 2 columns */
@media screen and (min-width: 300px) {
  .tile {
    width: 48.5%;
  }
}
/* 3 columns */
@media screen and (min-width: 600px) {
  .tile {
    width: 30%;
  }
}
/* 4 columns */
@media screen and (min-width: 800px) {
  .tile {
    width: 23.5%;
  }
}

.loading {
    color: red;
    font-size: 20px;
    position: absolute;
    left: 0;
    top: 0;
}

.smalllink {
    font-size: 12px;
    color: darkblue;
    padding-left: 5px;
}

.masterlist {
    list-style-type: none;
    margin: 0;
    padding: 0;
}
.masterlist li {
    margin: 0;
    padding: 0;
    padding-left: 10px;
}

