html {
    border: 2px solid black;
}
body {
    background: url("./wallpaper.jpg") repeat fixed center top #F0F0F0;
}
.well {
    border: 2px solid yellow;
    font-size: 16px;
    clear: both;
}

header {
    border: 2px solid yellow;
    background-color: #FF4500; /* china red */
    text-align: center; 
    padding: 5px;
    margin: 5px;
}

.tile {
    margin: auto;
    padding: 0px;
}
.tileContainer {
    max-width: 390px;
    width: 18.5%;
    overflow: hidden;
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    border-radius: 1px;
    margin: 0.5em;
    padding: 7px 0px;
    box-shadow: 1px 0 0 0 #a5bdc1;
    -webkit-box-shadow: 1px 0 0 0 #a5bdc1;
    -moz-box-shadow: 1px 0 0 0 #a5bdc1;
    border-color: white;
    border-bottom-color: black;
    border-style: solid;
    border-width: 1px;
}
.tileContainer img {
    border: 1px solid silver;
    margin: 0;
    max-width: 390px;
    width: auto;
}

